.about {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 2rem;

  background-image: url("./assets/img/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__block-wrap {
    @include flexCenter();

    gap: 2rem;
    flex-wrap: wrap;

    padding: 2rem;
    border-radius: 2rem 2rem 2rem 0;
    font-size: 3rem;
    text-align: start;

    color: $color-text-start;
    box-shadow: 0 0 3px $color-shadow;
    background-color: $color-bg;

    width: 38%;

    @media (max-width: 1024px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 80%;
    }

    span {
      text-align: start;
      font-weight: normal;
    }
  }

  &__title {
    font-size: 3rem;
    color: $color-text;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 4rem;
    }

    @media (max-width: 768px) {
      font-size: 3.5rem;
    }
  }

  &__team {
    @include flexCenter();

    flex-wrap: wrap;
    gap: 40px;
  }

  &__team-member {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__team-member-name,
  &__team-member-position {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: $color-text-start;
  }

  &__avatar-wrap {
    @include flexCenter();
    width: 15rem;
    height: 15rem;

    box-shadow: 0 0 3px $color-shadow;
    border-radius: 50%;
    background-color: $color-bg;

    cursor: pointer;
  }

  &__avatar-img {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;

    object-fit: contain;

    transition: all 0.5s linear;

    &:hover {
      width: 100%;
      height: 100%;
    }
  }
}
