.about {
  position: relative;
  flex-grow: 1;
  @include flexCenter();
  flex-wrap: wrap;

  width: 100%;
  padding: 2rem;

  background-image: url("./assets/img/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
