$audio_btn_difficult-1: #e0677d;
$audio_btn_difficult-2: #f5a51c;
$audio_btn_difficult-3: #fcdd2e;
$audio_btn_difficult-4: #1f9465;
$audio_btn_difficult-5: rgb(6, 140, 250);
$audio_btn_difficult-6: #162fbd;
$color-button-start: #966AAD;
$color-button-start-border: #63387C;

.audio__title {
  width: 100%;

  align-self: start;
  font-size: 3rem;
  text-align: start;
  color: $color-text;
}

.audio__container {
  width: 100%;
  padding: 2rem;
  background: url('./assets/img/background-audio.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .start__page__audio {
    width: 100%;
    max-width: 1920px;
    height: 100%;

    @include flexCenter();
    flex-wrap: wrap;
    gap: 2rem;

    .description__audio {
      @include flexCenter();
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      width: 90%;

      .preview {
        align-self: start;
        @include flexCenter();
        flex-wrap: wrap;
        gap: 1rem;

        width: 45%;
        color: $color-text;
        background: $color-bg;
        border-radius: 20px;
        padding: 20px;
        font-size: 3rem;

        border-top-left-radius: 0px;

        box-shadow: $element-shadow;

        @media (max-width: 1024px) {
          width: 65%;
        }
    
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .instruction {
        align-self: end;
        width: 45%;
        color: $color-text;
        background: $color-bg;
        border-radius: 20px;
        padding: 20px;
        font-size: 3rem;
        border-top-right-radius: 0px;

        box-shadow: $element-shadow;

        @media (max-width: 1024px) {
          width: 65%;
        }
    
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .key-instruction {
        align-self: start;
        @include flexCenter();
        flex-wrap: wrap;
        gap: 1rem;

        width: 45%;
        color: $color-text;
        background: $color-bg;
        border-radius: 20px;
        padding: 20px;
        font-size: 3rem;
        border-top-left-radius: 0px;

        box-shadow: $element-shadow;

        @media (max-width: 1024px) {
          width: 65%;
        }
    
        @media (max-width: 768px) {
          width: 100%;
        }

        span {
          display: block;
          width: 100%;

          text-align: left;
        }

        &__button-wrap {
          @include flexCenter();
          gap: 1rem;
          width: 100%;

          div {
            @include flexCenter();
            width: 6rem;
            height: 6rem;

            border-radius: $button-border-radius;
            border-bottom: $button-border-bottom solid $color-shadow;
            box-shadow: $element-shadow;

            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            line-height: 4rem;
       
            transition: background-color 0.4s;
          } 
        }

      }

      .key-instruction-two {
        align-self: end;
        @include flexCenter();
        gap: 1rem;

        width: 45%;
        color: $color-text;
        background: $color-bg;
        border-radius: 20px;
        padding: 20px;
        font-size: 3rem;
        border-top-right-radius: 0px;

        box-shadow: $element-shadow;

        @media (max-width: 1024px) {
          width: 65%;
        }
    
        @media (max-width: 768px) {
          width: 100%;
        }

        .key {
          @include flexCenter();
          width: 9.5rem;
          height: 6rem;

          border-radius: $button-border-radius;
          border-bottom: $button-border-bottom solid $color-shadow;
          box-shadow: $element-shadow;

          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          line-height: 4rem;
     
          transition: background-color 0.4s;
        } 
      }
    }

    .audio_call__title {
      font-size: 26px;
      text-shadow: $element-shadow;
      color: $color-bg;
    }

    .start_btn__audio {
      font-size: 4rem;
      font-weight: 800;
      padding: 3px 40px;
      border: none;
      border-radius: $button-border-radius * 1.5;
      border-bottom: 4px solid $color-button-start-border;

      background-color: $color-button-start ;
      color:  $color-bg;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: scale(1.05) translate(0, -3px);

      }
    }

    .audio_container__btn {

      .new-game {
        width: 220px;
      }

      @include flexCenter();
      gap: 2rem;

      width: 100%;
      
      button {
        width: 7rem;
        height: 7rem;
        font-size: 40px;
        font-weight: 900;
        color: $color-bg;
        border: 0;
        border-radius: $button-border-radius;
        cursor: pointer;
        transition: .2s;

        &.active {
          transform: scale(1.2);
        }

        &:nth-child(1) {
          background: $audio_btn_difficult-1;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-1;
          }
        }

        &:nth-child(2) {
          background: $audio_btn_difficult-2;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-2;
          }
        }

        &:nth-child(3) {
          background: $audio_btn_difficult-3;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-3;
          }
        }

        &:nth-child(4) {
          background: $audio_btn_difficult-4;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-4;
          }
        }

        &:nth-child(5) {
          background: $audio_btn_difficult-5;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-5;
          }
        }

        &:nth-child(6) {
          background: $audio_btn_difficult-6;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-6;
          }
        }
      }
    }
  }

  .game__page__audio {
    width: 70%;
    min-width: 470px;
    position: relative;
    height: 500px;
    background: $color-bg;
    border-radius: 50px;
    box-shadow: $element-shadow;
    border-bottom: 5px solid $color-scroll;
    padding: 20px 0px;
    margin-top: 20px;

    @media(max-width: 930px) {
      height: 550px;
    }

    .arrow_img {
      width: 50px;
      height: 50px;
      position: absolute;
      right: -33px;
      top: -33px;
      cursor: pointer;
      border-radius: 50%;
      background: $color-bg;

      @media (max-width: 550px) {
        right: 0;
        top: -55px;
      }
    }

    .audio_call__progress {
      width: 90%;
      height: 30px;
      margin: 0 auto;
      border-radius: 30px;
      box-shadow: $element-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 800;
      color: $color-bg;
    }

    .audio_call__card {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;

      .container__volume {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        height: 200px;
        margin-top: 30px;

        @media (max-width: 600px) {
          height: 220px;
          margin-top: 10px;
        }

        .content {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;

          .image_preview {
            width: 35%;
            box-shadow: 0 0 3px $color-scroll;
            border-radius: 7px;
            padding-bottom: 10px;
            margin-left: auto;

            @media (max-width: 600px) {
              margin-left: 0;
              margin: 20px 0;
            }

            img {
              width: 100%;
              max-height: 140px;
              border-top-right-radius: 7px;
              border-top-left-radius: 7px;
            }

            h3 {
              width: 100%;
              text-align: center;
              font-size: 16px;
              font-weight: 700;

              span {
                color: rebeccapurple;
              }
            }
          }

          legend {
            border-radius: 7px;
            padding: 0 5px;
            font-size: 14px;
            font-weight: 600;
            background: $color-bg
          }

          fieldset {
            border-radius: 7px;
            margin-top: 10px;
            font-size: 12px;
            width: 200px;
            border: none;
            font-weight: 500;
            font-style: italic;
            color: $color-text;
            box-shadow: $element-shadow;

            @media (max-width: 860px) {
              width: 140px;
            }
          }
        }        
      }

      .volume_button__audio {
        width: 120px;
        height: 120px;
        background: url(./assets/icons/volume.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        box-shadow: 0 0 3px $color-scroll;
        border-radius: 50%;
        cursor: pointer;

        @media(max-width: 750px) {
          width: 70px;
          height: 70px;
        }
      }

      .button_next {
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        border-radius: $button-border-radius;
        background-color: $color-bg;
        font-size: 24px;
        border: none;
        font-weight: 900;
        color: $color-text;
        box-shadow: 0 0 3px $color-scroll;
        padding: 7px 30px;
        border-bottom: $button-border-bottom solid $color-shadow;
        cursor: pointer;
        transition: .2s;

        &:hover {
          background: $color-button-start;
          border-bottom: 3px solid $color-button-start-border; 
          color: $color-bg;
        }
      }

      .container_btn__audio {
        display: flex;
        flex-wrap:  wrap;
        justify-content: center;
        width: 90%;
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;

        @media(max-width: 1020px) {
          width: 90%;
        }

        button {
          border: none;
          position: relative;
          width: 31%;
          min-width: 180px;
          font-size: 18px;
          padding: 10px 2px;
          border-radius: 7px;
          font-weight: 900;
          color: $color-text;
          cursor: pointer;
          box-shadow: 0 0 3px $color-scroll;
          background: $color-bg;
          border-bottom: 3px solid $color-shadow;
          transition: .2s;

          span {
            position: absolute;
            left: 4px;
            top: 5px;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            @include flexCenter();
            border: 1px solid $color-scroll;
          }

          &.success {
            background-color: $color-button-true;
            color: $color-bg;
            border-bottom: 3px solid $color-button-true-hover;
          }

          &.failed {
            color: $color-bg;
            border-bottom: 3px solid $color-button-false-hover;
            background-color: $color-button-false;
          }
        }
      }
    }
  }

  .statistic__audio {
    @include flexCenter();
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2px 20px;
    height: 100%;

    .list_statistic {
      overflow-y: scroll;
      width: 100%;
      height: 90%;
      border-radius: 5px;
      box-shadow: 0 0 3px $color-scroll;

      &::-webkit-scrollbar {
        width: 8px;               /* ширина scrollbar */
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        border: 1px solid $color-scroll;       /* цвет дорожки */
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-scroll;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
      }

      .audio {
        margin-right: auto;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        padding: 5px 40px;

        border-bottom: 1px solid $color-scroll;
        color: $color-text;
        font-size: 2rem;
        border-radius: 3px;

        background-color: $color-bg;


        .icon {
          width: 2rem;
          height: 2rem;


          svg {
            width: 2rem;
            height: 2rem;
          }

          &.audio {
            display: block;
            width: 4rem;
            height: 4rem;
            margin: 0;
      
            cursor: pointer;
          }

          &__true {
            stroke: $color-button-true;
            fill: $color-bg
          }
        
          &__false {
            fill: $color-button-false;
          }
        }
      }
    }
  }
}