$audio_btn_difficult-1: greenyellow;
$audio_btn_difficult-2: green;
$audio_btn_difficult-3: yellow;
$audio_btn_difficult-4: orange;
$audio_btn_difficult-5: crimson;
$audio_btn_difficult-6: red;

$header-button-shadow: gainsboro;
$hover-item-background: rgb(112, 112, 198);
$hover-item-border: rgb(66, 66, 120);
$color-header-gray: rgb(170, 169, 169);

.audio__container {
  width: 100%;
  height: calc(100vh - 60px);
  background: url('../assets/img/background-audio.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .start__page__audio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .audio_call__title {
      font-size: 26px;
      text-shadow: 0 0 3px dimgray;
      color: white;
    }

    .start_btn__audio {
      font-size: 40px;
      font-weight: 800;
      padding: 10px 25px;
      border: none;
      border-radius: 10px;
      background-color: rgb(5, 176, 255);
      color: white;
      text-shadow: 0 0 3px dimgray;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: scale(1.1) translate(0, -5px);

      }
    }

    .audio_container__btn {
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: space-between;
      
      button {
        width: 13%;
        height: 150px;
        font-size: 40px;
        font-weight: 900;
        color: white;
        border: 0;
        border-radius: 7px;
        text-shadow: 0 0 3px dimgray;
        cursor: pointer;
        transition: .2s;

        &.active {
          transform: scale(1.2);
        }

        &:nth-child(1) {
          background: $audio_btn_difficult-1;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-1;
          }
        }

        &:nth-child(2) {
          background: $audio_btn_difficult-2;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-2;
          }
        }

        &:nth-child(3) {
          background: $audio_btn_difficult-3;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-3;
          }
        }

        &:nth-child(4) {
          background: $audio_btn_difficult-4;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-4;
          }
        }

        &:nth-child(5) {
          background: $audio_btn_difficult-5;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-5;
          }
        }

        &:nth-child(6) {
          background: $audio_btn_difficult-6;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-6;
          }
        }
      }
    }
  }

  .game__page__audio {
    width: 70%;
    position: relative;
    height: 500px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 5px dimgray;
    border-bottom: 5px solid gainsboro;
    border-top: 5px solid gainsboro;
    padding: 20px 0px;

    .arrow_img {
      width: 50px;
      height: 50px;
      position: absolute;
      right: -33px;
      top: -33px;
      cursor: pointer;
      border-radius: 50%;
      background: white;
    }

    .audio_call__progress {
      width: 90%;
      height: 30px;
      margin: 0 auto;
      border-radius: 30px;
      box-shadow: 0 0 3px dimgray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 800;
      color: white;
    }

    .audio_call__card {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      row-gap: 30px;

      .volume_button__audio {
        width: 120px;
        height: 120px;
        background: url(../assets/icons/volume.png);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        box-shadow: 0 0 3px gainsboro;
        border-radius: 50%;
        cursor: pointer;
      }

      .button_next {
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        border-radius: 6px;
        background-color: white;
        font-size: 24px;
        border: none;
        font-weight: 900;
        color: dimgray;
        box-shadow: 0 0 8px gainsboro;
        padding: 10px 20px;
        border-bottom: 3px solid rgb(183, 174, 174);
        cursor: pointer;
        transition: .2s;

        &:hover {
          background: $hover-item-background;
          border-bottom: 3px solid $hover-item-border; 
          color: white;
        }
      }

      .container_btn__audio {
        display: flex;
        flex-wrap:  wrap;
        justify-content: center;
        width: 80%;
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;

        button {
          border: none;
          position: relative;
          width: 31%;
          font-size: 18px;
          padding: 10px 2px;
          border-radius: 7px;
          font-weight: 900;
          color: dimgray;
          cursor: pointer;
          box-shadow: 0 0 5px gainsboro;
          background: white;
          border-bottom: 3px solid rgb(185, 179, 179);
          transition: .2s;

          span {
            position: absolute;
            left: 4px;
            top: 10px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid gainsboro;
          }

          &.success {
            background: green;
            color: white;
            border: none; 
          }

          &.failed {
            background: crimson;
            color: white;
            border: none; 
          }
        }
      }
    }
  }

  .statistic__audio {
    padding: 20px;
    height: 100%;

    .list_statistic {
      overflow-y: scroll;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 0 4px gainsboro;

      &::-webkit-scrollbar {
        width: 8px;               /* ширина scrollbar */
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        border: 1px solid gainsboro;        /* цвет дорожки */
      }
      &::-webkit-scrollbar-thumb {
        background-color: gainsboro;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
      }

      .item {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        color: whitesmoke;
        font-size: 14px;
        text-shadow: 0 0 4px dimgray;
        border-radius: 3px;

        &.success {
          background-color: rgba(0, 128, 0, 0.306);
          border: 1px solid green;
        }

        &.failed {
          background-color: rgba(220, 20, 60, 0.402);
          border: 1px solid crimson;
        }

        img {
          height: 20px;
        }
      }
    }
  }
}