$audio_btn_difficult-1: rgb(253, 188, 7);
$audio_btn_difficult-2: rgb(240, 236, 12);
$audio_btn_difficult-3: rgb(25, 242, 43);
$audio_btn_difficult-4: rgb(6, 140, 250);
$audio_btn_difficult-5: rgb(49, 6, 143);
$audio_btn_difficult-6: rgb(100, 4, 99);

$header-button-shadow: gainsboro;
$hover-item-background: rgb(112, 112, 198);
$hover-item-border: rgb(66, 66, 120);
$color-header-gray: rgb(170, 169, 169);

.audio__container {
  width: 100%;
  height: calc(100vh - 60px);
  background: url('../assets/img/background-audio.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .start__page__audio {
    width: 100%;
    max-width: 750px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .description__audio {
      width: 90%;

      .preview {
        width: 320px;
        font-weight: 600;
        color: gray;
        background: white;
        border-radius: 20px;
        padding: 10px;
        font-size: 18px;
        border-top-left-radius: 0px;
      }

      .instruction {
        width: 300px;
        font-weight: 600;
        color: gray;
        background: white;
        border-radius: 20px;
        padding: 20px 10px;
        font-size: 18px;
        border-top-right-radius: 0px;
        margin-top: 10px;
        margin-left: auto;
      }

      .key-instruction {
        width: 250px;
        font-weight: 600;
        color: gray;
        background: white;
        border-radius: 20px;
        padding: 20px 10px;
        font-size: 18px;
        border-top-left-radius: 0px;
        margin-top: 10px;
        margin-right: auto;

        span {
          display: inline-block;
          width: 25px;
          text-align: center;
          margin-top: 10px;
          padding: 5px 0;
          box-shadow: 0 0 3px dimgray;
          margin-right:10px;
          border-radius: 4px;
          border-bottom: 3px solid gainsboro;
          cursor: pointer;
        }
      }

      .key-instruction-two {
        width: 250px;
        font-weight: 600;
        color: gray;
        background: white;
        border-radius: 20px;
        padding: 20px 10px;
        font-size: 18px;
        border-top-right-radius: 0px;
        margin-top: 10px;
        margin-left: auto;

        span {
          display: inline-block;
          width: 120px;
          text-align: center;
          margin-top: 10px;
          padding: 5px 0;
          box-shadow: 0 0 3px dimgray;
          margin-right:10px;
          border-radius: 4px;
          border-bottom: 3px solid gainsboro;
          cursor: pointer;
        }
      }

      span:hover {
        background: rgb(232, 232, 232);
        color: white;
        text-shadow: 0 0 3px dimgray;
      }

      h2 {
        color: dimgray
      }
    }

    .audio_call__title {
      font-size: 26px;
      text-shadow: 0 0 3px dimgray;
      color: white;
    }

    .start_btn__audio {
      font-size: 40px;
      font-weight: 800;
      padding: 10px 25px;
      border: none;
      border-radius: 10px;
      background-color: rgb(5, 176, 255);
      color: white;
      text-shadow: 0 0 3px dimgray;
      cursor: pointer;
      transition: .2s;
      margin-bottom: 40px;

      &:hover {
        transform: scale(1.1) translate(0, -5px);

      }
    }

    .audio_container__btn {
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: space-between;
      
      button {
        width: 13%;
        height: 90px;
        font-size: 40px;
        font-weight: 900;
        color: white;
        border: 0;
        border-radius: 7px;
        text-shadow: 0 0 3px dimgray;
        cursor: pointer;
        transition: .2s;

        &.active {
          transform: scale(1.2);
        }

        &:nth-child(1) {
          background: $audio_btn_difficult-1;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-1;
          }
        }

        &:nth-child(2) {
          background: $audio_btn_difficult-2;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-2;
          }
        }

        &:nth-child(3) {
          background: $audio_btn_difficult-3;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-3;
          }
        }

        &:nth-child(4) {
          background: $audio_btn_difficult-4;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-4;
          }
        }

        &:nth-child(5) {
          background: $audio_btn_difficult-5;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-5;
          }
        }

        &:nth-child(6) {
          background: $audio_btn_difficult-6;
          &:hover {
            box-shadow: 0 0 15px $audio_btn_difficult-6;
          }
        }
      }
    }
  }

  .game__page__audio {
    width: 70%;
    min-width: 470px;
    position: relative;
    height: 500px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 5px dimgray;
    border-bottom: 5px solid gainsboro;
    border-top: 5px solid gainsboro;
    padding: 20px 0px;

    @media(max-width: 890px) {
      height: 550px;
    }

    .arrow_img {
      width: 50px;
      height: 50px;
      position: absolute;
      right: -33px;
      top: -33px;
      cursor: pointer;
      border-radius: 50%;
      background: white;
    }

    .audio_call__progress {
      width: 90%;
      height: 30px;
      margin: 0 auto;
      border-radius: 30px;
      box-shadow: 0 0 3px dimgray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 800;
      color: white;
    }

    .audio_call__card {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;

      .container__volume {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        height: 200px;
        margin-top: 30px;

        @media (max-width: 600px) {
          height: 220px;
          margin-top: 10px;
        }

        .content {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;

          .image_preview {
            width: 35%;
            box-shadow: 0 0 5px gainsboro;
            border-radius: 7px;
            padding-bottom: 10px;
            margin-left: auto;

            @media (max-width: 600px) {
              margin-left: 0;
              margin: 20px 0;
            }

            img {
              width: 100%;
              max-height: 140px;
              border-top-right-radius: 7px;
              border-top-left-radius: 7px;
            }

            h3 {
              width: 100%;
              text-align: center;
              font-size: 16px;
              font-weight: 700;

              span {
                color: rebeccapurple;
              }
            }
          }

          legend {
            border-radius: 7px;
            padding: 0 5px;
            font-size: 14px;
            font-weight: 600;
            background: white
          }

          fieldset {
            border-radius: 7px;
            margin-top: 10px;
            font-size: 12px;
            width: 200px;
            border: none;
            font-weight: 500;
            font-style: italic;
            color: dimgray;
            box-shadow: 0 0 3px dimgray;

            @media (max-width: 860px) {
              width: 140px;
            }
          }
        }        
      }

      .volume_button__audio {
        width: 120px;
        height: 120px;
        background: url(../assets/icons/volume.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        box-shadow: 0 0 3px gainsboro;
        border-radius: 50%;
        cursor: pointer;

        @media(max-width: 750px) {
          width: 70px;
          height: 70px;
        }
      }

      .button_next {
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        border-radius: 6px;
        background-color: white;
        font-size: 24px;
        border: none;
        font-weight: 900;
        color: dimgray;
        box-shadow: 0 0 8px gainsboro;
        padding: 10px 20px;
        border-bottom: 3px solid rgb(183, 174, 174);
        cursor: pointer;
        transition: .2s;

        &:hover {
          background: $hover-item-background;
          border-bottom: 3px solid $hover-item-border; 
          color: white;
        }
      }

      .container_btn__audio {
        display: flex;
        flex-wrap:  wrap;
        justify-content: center;
        width: 80%;
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;

        @media(max-width: 1020px) {
          width: 90%;
        }

        button {
          border: none;
          position: relative;
          width: 31%;
          min-width: 180px;
          font-size: 18px;
          padding: 10px 2px;
          border-radius: 7px;
          font-weight: 900;
          color: dimgray;
          cursor: pointer;
          box-shadow: 0 0 5px gainsboro;
          background: white;
          border-bottom: 3px solid rgb(185, 179, 179);
          transition: .2s;

          span {
            position: absolute;
            left: 4px;
            top: 10px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid gainsboro;
          }

          &.success {
            background: green;
            color: white;
            border: none; 
          }

          &.failed {
            background: crimson;
            color: white;
            border: none; 
          }
        }
      }
    }
  }

  .statistic__audio {
    padding: 20px;
    height: 100%;

    .list_statistic {
      overflow-y: scroll;
      height: 100%;
      border-radius: 5px;
      box-shadow: 0 0 4px gainsboro;

      &::-webkit-scrollbar {
        width: 8px;               /* ширина scrollbar */
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        border: 1px solid gainsboro;        /* цвет дорожки */
      }
      &::-webkit-scrollbar-thumb {
        background-color: gainsboro;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
      }

      .item {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        color: whitesmoke;
        font-size: 14px;
        text-shadow: 0 0 4px dimgray;
        border-radius: 3px;

        &.success {
          background-color: rgba(0, 128, 0, 0.306);
          border: 1px solid green;
        }

        &.failed {
          background-color: rgba(220, 20, 60, 0.402);
          border: 1px solid crimson;
        }

        img {
          height: 20px;
        }
      }
    }
  }
}