
$color-bg-page: #9acaab;
$color-bg-button: #9aa2e6;
$color-bg-button-border: #40396e;

.book_container {
  @include flexCenter();

  width: 100%;
  min-height: 620px;

  background: url('./assets/img/book-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container_difficult {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    a {
      width: 280px;
      padding: 10px 0;
      border-radius: $button-border-radius * 1.2;

      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: $color-bg;

      transition: .4s;

      &:hover {
        transform: scale(1.1);
      }

      &:nth-child(1) {
        background: $color-level-english-1;
        border-bottom: 3px solid $border-level-english-1;
      }
      &:nth-child(2) {
        background: $color-level-english-2;
        border-bottom: 3px solid $border-level-english-2;
      }
      &:nth-child(3) {
        background: $color-level-english-3;
        border-bottom: 3px solid $border-level-english-3;
      }
      &:nth-child(4) {
        background: $color-level-english-4;
        border-bottom: 3px solid $border-level-english-4;
      }
      &:nth-child(5) {
        background: $color-level-english-5;
        border-bottom: 3px solid $border-level-english-5;
      }
      &:nth-child(6) {
        background: $color-level-english-6;
        border-bottom: 3px solid $border-level-english-6;
      }

      &:nth-child(7) {
        background: $color-level-english-7;
        border-bottom: 3px solid $border-level-english-7;
      }
    }
  }

  .page_book_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem;

    &.one-group {
      background-color: $bg-level-english-1;
    }

    &.two-group {
      background-color: $bg-level-english-2;
    }

    &.three-group {
      background-color: $bg-level-english-3;
    }

    &.four-group {
      background-color: $bg-level-english-4;
    }

    &.five-group {
      background-color: $bg-level-english-5;
    }

    &.six-group {
      background-color: $bg-level-english-6;
    }

    &.difficult {
      background-color: $bg-level-english-7;
    }

    .marked {
      align-self: end;
      display: none;
      padding: 2rem;
      border-radius:  2rem 0 2rem 2rem;

      font-size: 3rem;
      text-align: start;
      color: $color-text;

      box-shadow: $element-shadow;
      background-color: $color-bg;
    }

    &.all-check .marked {
      display: block;

    }

    .container_card {
      @include flexCenter();
      flex-wrap: wrap;
      gap: 3rem;

      width: 100%;

      .card_item {
        position: relative;
        @include flexCenter();
        justify-content: start;
        flex-direction: column;
        gap: 0.5rem;

        width: 40rem;
        height: 60rem;
        padding: 2rem;
        background: $color-bg;
        border-radius: 4rem;
        border-bottom: 5px solid $color-scroll;

        box-shadow: $element-shadow;

        &.difficult {
          box-shadow: 0 0 10px $border-level-english-2;
          border-bottom: 5px solid $border-level-english-2;

        }

        &.study {
          box-shadow: 0 0 10px $border-level-english-1;
          border-bottom: 5px solid $border-level-english-1;
        }

        .img-wrap {
          @include flexCenter();
          width: 15rem;
          height: 15rem;

          box-shadow: $element-shadow;
          border-radius: 50%;
          background-color: $color-bg;
        }

        .img__word {
          display: block;
          width: 80%;
          height: 80%;
          border-radius: 50%;

          object-fit: cover;

          transition: all 0.5s linear;

          &:hover {
            width: 100%;
            height: 100%;
          }
        }

        .button-wrap {
          @include flexCenter();
          gap: 1rem;

          .img__button {
            width: 6rem;
          }

          .button {
            width: 6rem;
            height: 6rem;
            font-size: 20px;
            font-weight: 700;
            color:  $color-shadow;
            border: none;
            color: $color-bg;
            border-radius: 5px;
            cursor: pointer;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          
          .button_difficult {
            background-image: url('./assets/icons/difficult-def.svg');

            &.active {
              background-image: url('./assets/icons/difficult.svg');
            }
          }

          .button_studied {
            background-image: url('./assets/icons/studied-def.svg');
            background-size: contain;

            &.active {
              background-image: url('./assets/icons/studied.svg');
            }
          }

          .button_userWords {
            width: 6.2rem;
            background-image: url('./assets/icons/userWords-def.svg');

            &.active {
              background-image: url('./assets/icons/userWords.svg');
            }
          }
        }

        .description {
          position: relative;

          @include flexCenter();
          justify-content: flex-start;
          flex-direction: column;
          row-gap: 1.1rem;

          width: 100%;
          height:55%;
          // margin-top: auto;
          border-radius: 7px;

          background: $color-bg;  
          
          .example {
            position: relative;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            width: 100%;
            margin: 0 auto;

            fieldset {
              width: 100%;
              border: none;
              box-shadow: 0 0 5px gainsboro;
              border-radius: 4px;

              color: $color-text;
              font-size: 1.6rem;

              legend {
                padding: 0 5px;

                font-weight: 600;
                color: $color-text;
                font-style: italic;

                background: $color-bg;

              }
            }

            .volume {
              position: absolute;
              top: -6%;
              left: 24%;

              width: 30px;
              border-radius: 50%;
              box-shadow: 0 0 4px $color-shadow;

              cursor: pointer;

            }
          }
          

          // &::before {
          //   position: absolute;
          //   content: '';
          //   width: 100%;
          //   height: 80px;
          //   background: linear-gradient(to top, $color-bg 30%, transparent);
          //   top: -73px;
          // }

          .title {
            position: relative;

            @include flexCenter();
            flex-wrap: wrap;
            // justify-content: space-between;
            gap: 0.3rem;

            width: 100%;

            .volume {
              width: 50px;
              right: 10px;
              top: -60px;
              cursor: pointer;
            }
            
            h3 {
              @include flexCenter();

              // padding: 1rem;
              // border-radius: 5px;

              font-size: 1.8rem;
              // box-shadow: 0 0 4px $color-shadow;
            }

            .en {
              width: 100%;

              font-size: 3rem;
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;

      width: 90%;
      height: 65px;

      a {
        @include flexCenter();

        width: 6rem;
        height: 6rem;
        border-radius: $button-border-radius;
        border-bottom: 3px solid $color-shadow;
        box-shadow: 0 0 3px $color-shadow;

        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        line-height: 4rem;
        color: $color-text;
        text-decoration: none;


        background-color: $color-bg;

        cursor: pointer;
        
        transition: background-color .4s;

        &.active {
          border-bottom: none;
          color: $color-bg;

          background: $color-bg-button;
          border-bottom: 3px solid $color-bg-button-border;

        }
      }

      .arrow {
        @include flexCenter();

        width: 6rem;
        height: 6rem;
        box-shadow: 0 0 3px $color-shadow;
        border-radius: $button-border-radius;
        border-bottom: 3px solid $color-shadow;

        background-color: $color-bg;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;

        &:first-child {
          background-image: url('./assets/icons/arrowLeft.png');
        }
        &:last-child {
          background-image: url('./assets/icons/arrowRight.png');
        }
      }
    }
  }
}