$color-level-english-1: #e0677d;
$border-level-english-1: #AF2137;
$color-level-english-2: #f5a51c;
$border-level-english-2: #fb8609;
$color-level-english-3: #fcdd2e;
$border-level-english-3: #f5a51c;
$color-level-english-4: #1f9465;
$border-level-english-4: #017347;
$color-level-english-5: #068cfa;
$border-level-english-5: #162fbd;
$color-level-english-6: #966AAD;
$border-level-english-6: #63387C;
$color-bg: #ffffff;
$color-shadow: #aaa9a9;
$color-text: #696969;

$color-bg-page: #9acaab;
$color-scroll: #dcdcdc;
$color-bg-button: #9aa2e6;
$color-bg-button-border: #40396e;

.book_container {
  @include flexCenter();

  width: 100%;
  min-height: 620px;

  background: url('./assets/img/book-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container_difficult {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    a {
      width: 280px;
      padding: 10px 0;
      border-radius: 7px;

      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: $color-bg;

      transition: .4s;

      &:hover {
        transform: scale(1.1);
      }

      &:nth-child(1) {
        background: $color-level-english-1;
        border-bottom: 3px solid $border-level-english-1;
      }
      &:nth-child(2) {
        background: $color-level-english-2;
        border-bottom: 3px solid $border-level-english-2;
      }
      &:nth-child(3) {
        background: $color-level-english-3;
        border-bottom: 3px solid $border-level-english-3;
      }
      &:nth-child(4) {
        background: $color-level-english-4;
        border-bottom: 3px solid $border-level-english-4;
      }
      &:nth-child(5) {
        background: $color-level-english-5;
        border-bottom: 3px solid $border-level-english-5;
      }
      &:nth-child(6) {
        background: $color-level-english-6;
        border-bottom: 3px solid $border-level-english-6;
      }
    }
  }

  .page_book_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 2rem;

    background-color: $color-bg-page;

    .container_card {
      @include flexCenter();
      flex-wrap: wrap;
      // overflow-y: scroll;
      gap: 3rem;

      width: 90%;
      padding: 2rem;

      border-radius: 20px;
      border-bottom: 5px solid $color-scroll;
      border-top: 5px solid $color-scroll;
      
      background-color: $color-bg;

      // &::-webkit-scrollbar {
      //   width: 8px;               /* ширина scrollbar */
      // }
      // &::-webkit-scrollbar-track {
      //   background: transparent;
      //   // border-radius: 10px;
      //   // border: 1px solid rgb(83, 79, 79);        /* цвет дорожки */
      // }
      // &::-webkit-scrollbar-thumb {
      //   background-color: $color-scroll;    /* цвет плашки */
      //   border-radius: 20px;       /* закругления плашки */
      // }

      .card_item {
        position: relative;
        display: flex;
        align-items: flex-end;

        width: 40rem;
        height: 54rem;
        background: $color-bg;
        border-radius: 7px;

        box-shadow: 0 0 5px $color-shadow;

        img {
          position: absolute;
          top: 0;

          width: 100%;
          border-radius: 7px;

        }

        .img__word {
          height: 40%;
        }

        .description {
          position: relative;

          @include flexCenter();
          justify-content: flex-start;
          flex-direction: column;
          row-gap: 1.1rem;

          width: 100%;
          height: 60%;
          margin-top: auto;
          border-radius: 7px;
          padding: 0 1rem;

          background: $color-bg;          

          .example {
            position: relative;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;

            width: 100%;
            margin: 0 auto;

            fieldset {
              width: 100%;
              border: none;
              box-shadow: 0 0 5px gainsboro;
              border-radius: 4px;

              color: $color-text;
              font-size: 1.6rem;

              legend {
                padding: 0 5px;

                font-weight: 600;
                color: $color-text;
                font-style: italic;

                background: $color-bg;

              }
            }

            .volume {
              position: absolute;
              top: -6%;
              left: 24%;

              width: 30px;
              border-radius: 50%;
              box-shadow: 0 0 4px $color-shadow;

              cursor: pointer;

            }
          }
          

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 80px;
            background: linear-gradient(to top, $color-bg 30%, transparent);
            top: -73px;
          }

          .title {
            position: relative;

            @include flexCenter();
            flex-wrap: wrap;
            // justify-content: space-between;
            gap: 0.3rem;

            width: 100%;
            margin-top: -2rem;

            .volume {
              width: 50px;
              right: 10px;
              top: -60px;
              cursor: pointer;
            }
            
            h3 {
              @include flexCenter();

              // padding: 1rem;
              // border-radius: 5px;

              font-size: 1.8rem;
              // box-shadow: 0 0 4px $color-shadow;
            }

            .en {
              width: 100%;

              font-size: 3rem;
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;

      width: 90%;
      height: 65px;
      margin-top: 15px;
      border-radius: 10px;

      a {
        @include flexCenter();

        width: 4rem;
        height: 4rem;
        border-radius: 4px;
        border-bottom: 3px solid $color-shadow;
        box-shadow: 0 0 3px $color-shadow;

        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        line-height: 4rem;
        color: $color-text;
        text-decoration: none;


        background-color: $color-bg;

        cursor: pointer;
        
        transition: background-color .4s;

        &.active {
          border-bottom: none;
          color: $color-bg;

          background: $color-bg-button;
          border-bottom: 3px solid $color-bg-button-border;

        }
      }

      .arrow {
        @include flexCenter();

        width: 40px;
        height: 40px;
        box-shadow: 0 0 3px $color-shadow;
        border-radius: 5px;
        border: none;

        background-color: $color-bg;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;

        &:first-child {
          background-image: url('./assets/icons/arrowLeft.png');
        }
        &:last-child {
          background-image: url('./assets/icons/arrowRight.png');
        }
      }
    }
  }
}