.footer {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;

  box-shadow: 0 0 5px $color-shadow;

  color: $color-text;
  font-size: 1.6rem;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: -3px;
  //   right: 0;
  //   width: 100%;
  //   height: 3px;
  //   background:linear-gradient(to top, rgba(5, 5, 5, 0.1), transparent);
  // }
}

.text {
  text-align: center;
  font-size: 2rem;
} 

.footer__rs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
text-decoration: none;
color: var(--main-text-color);
}

.link:hover {
  color: var(--main-text-color);
}

.rs__logo {
  order: 1;
  width: 60px;

  padding-bottom: 10%;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--main-bg-color);
}

.rs {
  order: 2;
}

.rs:hover ~ .rs__logo {
  background-color: var(--main-bg-color);
}