$header-button-shadow: gainsboro;
$hover-item-background: rgb(112, 112, 198);
$hover-item-border: rgb(66, 66, 120);
$color-header-gray: rgb(170, 169, 169);

header {
  height: 60px;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 5px $header-button-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
  background-color: white;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to bottom, rgba(5, 5, 5, 0.404), transparent);
  }

  .header__burger_menu {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    order: 2;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    display: none;
    z-index: 10;

    &:hover {
      box-shadow: 0 0 5px gainsboro;
      border-radius: 7px;
    }

    @media (max-width: 720px) {
      display: flex;
    }

    span {
      transition: .4s;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(34deg) translate(7px, 10px);
        width: 120%;
      }
      span:nth-child(2) {
        width: 0;
      }
      span:nth-child(3) {
        transform: rotate(-34deg) translate(7px, -10px);
        width: 120%;
      }
    }

    span {
      height: 5px;
      width: 100%;
      border-radius: 5px;
      background-color: rgb(166, 166, 166);
    }
  }

  @media (max-width: 720px) {
    justify-content: flex-end;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 720px) {
      position: absolute;
      width: 300px;
      top: 60px;
      right: 0px;
      height: 350px;
      justify-content: center;
      row-gap: 20px;
      flex-direction: column;
      background-color: white;
      border-bottom-left-radius: 50px;
      box-shadow: 5px 4px 1px gainsboro;
      transition: .3s;
      display: none;

      
      &.active {
        display: flex;
      }
      
      a {
        width: 150px;
      }
    }
  
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      color: #696969;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 3px $color-header-gray;
      border-radius: 4px;
      padding: 5px 10px;
      border-bottom: 3px solid $color-header-gray;
      transition: background-color .4s;
  
      &:hover {
        background-color: $hover-item-background;
        color: white;
        border-bottom: 3px solid $hover-item-border;
      }

      &.active {
        border-bottom: none;
        transform: translate(0, 1px);
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    column-gap: 20px;

    .profile {
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
      width: 50px;
      height: 50px;
      font-size: 30px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }

    button {
      padding: 5px 10px;
      width: 85px;
      font-weight: 700;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
    
      &:hover {
        border-bottom: none;
      }
    }
  }
}