$modal-color-green: #1f9465;
$modal-color-red: #e0677d;
$background-container: #d4d1d168;
$warning-background: #f4c0ca;


.background__container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $background-container;
  z-index: 1;

  .out__modal {
    background-color: $color-bg;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;
    border-radius: 7px;
    box-shadow: 0 0 3px $color-shadow;

    button {
      width: 40%;
      border: none;
      font-size: 20px;
      font-weight: 700;
      padding: 3px;
      background: $color-bg;
      border-radius: 4px;
      cursor: pointer;
    }

    .button__out_no {
      box-shadow: 0 0 4px $modal-color-green;
      color: $modal-color-green;

      &:hover {
        background: $modal-color-green;
        color: $color-bg;
      }
    }

    .button__out_yes {
      box-shadow: 0 0 4px $modal-color-red;
      color: $modal-color-red;

      &:hover {
        background: $modal-color-red;
        color: $color-bg;
      }
    }

  }

  form {
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 0px 0px 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    background-color: $color-bg;
    border-radius: 7px;
    box-shadow: 0 0 3px $color-shadow;

    button {
      width: 50%;
      padding: 0px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      border: none;
      background-color: $color-bg;
      cursor: pointer;
      box-shadow: 0 0 3px $color-shadow;
      z-index: 3;
    }

    button.active {
      height: 40px;
      border-bottom: 5px solid $modal-color-red;
      z-index: 1;
    }

    button:nth-child(1) {
      border-top-left-radius: 7px;
    }

    button:nth-child(2) {
      border-top-right-radius: 7px;
    }

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      font-size: 20px;
      margin: 0 20px;
      font-weight: 700;
      color: $color-text;

      .warning__div {
        font-size: 9px;
        text-align: start;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        background-color: $warning-background;
        border: 1px solid $modal-color-red; 
        color: $modal-color-red;
      }
    }

    input {
      width: 100%;
      border: none;
      border-radius: 4px;
      box-shadow: 0 0 3px $color-shadow;
      font-size: 20px;
      height: 30px;
      padding: 0px 6px;
      font-weight: 600;
      outline: none;

      &.no_valid {
        background-color: $warning-background;
        border: 2px solid $modal-color-red; 
        color: $modal-color-red;
      }
    }

    .error__window {
      background-color: $warning-background;
      border: 2px solid $modal-color-red; 
      color: $modal-color-red;
      margin: 10px 15px 0;
      padding: 10px;
      display: flex;
      text-align: center;
      border-radius: 15px;
    }

    .button__submit {
      border-radius: 7px;
      box-shadow: 0 0 4px $modal-color-green;
      color: $modal-color-green;
      margin-top: 20px;
      transition: .3s;
   
      &:hover {
        background-color: $modal-color-green;
        color: $color-bg;
        box-shadow: 0 0 2px $modal-color-green;;
      }
    }
  }
}