.background__container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(212, 209, 209, 0.407);
  z-index: 1;

  form {
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 0px 0px 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 3px darkgray;

    button {
      width: 50%;
      padding: 0px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      border: none;
      background-color: white;
      cursor: pointer;
      box-shadow: 0 0 3px darkgray;
      z-index: 3;
    }

    button.active {
      height: 40px;
      border-bottom: 5px solid crimson;
      z-index: 1;
    }

    button:nth-child(1) {
      border-top-left-radius: 7px;
    }

    button:nth-child(2) {
      border-top-right-radius: 7px;
    }

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      font-size: 20px;
      margin: 0 20px;
      font-weight: 700;
      color: dimgray;

      .warning__div {
        font-size: 9px;
        text-align: start;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0.297);
        border: 1px solid crimson; 
        color: crimson;
      }
    }

    input {
      width: 100%;
      border: none;
      border-radius: 4px;
      box-shadow: 0 0 3px dimgray;
      font-size: 20px;
      height: 30px;
      padding: 0px 6px;
      font-weight: 600;
      outline: none;

      &.no_valid {
        background-color: rgba(255, 0, 0, 0.297);
        border: 2px solid crimson; 
        color: crimson;
      }
    }

    .error__window {
      background-color: rgba(255, 0, 0, 0.297);
      border: 2px solid crimson; 
      color: crimson;
      margin: 10px 15px 0;
      padding: 10px;
      display: flex;
      text-align: center;
      border-radius: 15px;
    }

    .button__submit {
      border-radius: 7px;
      box-shadow: 0 0 4px green;
      color: green;
      margin-top: 20px;
      transition: .3s;
   
      &:hover {
        background-color: green;
        color: white;
        box-shadow: 0 0 2px green;;
      }
    }
  }
}