$color-points: #966AAD;
$color-word: #000000;
$filter-color: #808080;
$color-button-true-hover: #1f9465;
$color-button-true: #79bc90;
$color-button-false-hover: #e0677d;
$color-button-false: #F69EB0;
$color-text-result: #696969;
$color-shadow: rgb(170, 169, 169);
$color-bg-result: #ffffff;
$color-table: #f5a51c;

$brown: #cc9165;
$gold: #fcdd2e;
$dark-gold: #f5a51c;
$grey: #afafaf;

.result {
  position: relative;

  @include flexCenter();
  flex-wrap: wrap;
  gap: 2rem;

  width: 50%;
  padding: 2rem;
  border-radius: 2rem;

  background-color: $color-bg-result;

  @media (max-width: 1024px) {
    width: 65%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  &__title {
    width: 100%;

    text-align: center;
    font-size: 3rem;
    color: $color-text-result
  }  

  &__table {
    overflow: scroll;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem;
    justify-content: center;  
    gap: 0.1rem;

    width: 100%;
    padding: 0.1rem;
    max-height: 75vh;

    background-color: $color-shadow;
  }

  &__row {
    @include flexCenter();
    justify-content: start;
    gap: 2rem;

    width: 100%;
    padding: 1rem 1rem 1rem 3rem;

    background-color: $color-bg;

    span {
      font-size: 2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      cursor: pointer;
    }
  }

  &__true {
    stroke: $color-button-true;
    fill: $color-bg
  }

  &__false {
    fill: $color-button-false;
  }
}


