$color-bg: #ffffff;

$color-text-start: #696969;
$color-border: #00c3ff;
$color-shadow: #aaa9a9;

$color-level-english-1: #e0677d;
$border-level-english-1: #AF2137;
$color-level-english-2: #f5a51c;
$border-level-english-2: #fb8609;
$color-level-english-3: #fcdd2e;
$border-level-english-3: #f5a51c;
$color-level-english-4: #1f9465;
$border-level-english-4: #017347;
$color-level-english-5: #068cfa;
$border-level-english-5: #162fbd;
$color-level-english-6: #966AAD;
$border-level-english-6: #63387C;

.start {
  @include flexCenter();
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100%;
  height: 100%;

  &__title {
    width: 100%;

    align-self: start;
    font-size: 3rem;
    text-align: start;
    color: $color-text-start;
  }

  &__desription {
    position: relative;
    @include flexCenter();
    justify-content: start;

    gap: 2rem;
    flex-wrap: wrap;

    width: 45%;
    padding: 2rem;

    font-size: 3rem;
    text-align: start;
    color: $color-text-start;

    box-shadow: 0 0 3px $color-shadow;
    background-color: $color-bg;

    &_odd {
      align-self: start;

      border-radius:  0 2rem 2rem 2rem;
    }
    

    &_even {
      align-self: end;

      border-radius:  2rem 0 2rem 2rem;
    }

    span {
      text-align: start;
    }

    &:nth-child(4) {
      justify-content: center;
    }

    @media (max-width: 1024px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__button-wrap {
    @include flexCenter();
    gap: 1rem;

    width: 100%;

    &_pseudo {
      width: auto;
    }
  }
  

  &__button {
    @include flexCenter();

    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    box-shadow: 0 0 3px $color-shadow;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4rem;
    color: $color-bg;

    cursor: pointer;
    
    transition: all .4s;

    &:nth-child(1) {
      background: $color-level-english-1;
      border-bottom: 3px solid $border-level-english-1;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-1;
      }
    }
    &:nth-child(2) {
      background: $color-level-english-2;
      border-bottom: 3px solid $border-level-english-2;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-2;
      }
    }
    &:nth-child(3) {
      background: $color-level-english-3;
      border-bottom: 3px solid $border-level-english-3;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-3;
      }
    }
    &:nth-child(4) {
      background: $color-level-english-4;
      border-bottom: 3px solid $border-level-english-4;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-4;
      }
    }
    &:nth-child(5) {
      background: $color-level-english-5;
      border-bottom: 3px solid $border-level-english-5;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-5;
      }
    }
    &:nth-child(6) {
      background: $color-level-english-6;
      border-bottom: 3px solid $border-level-english-6;

      &:hover {
        transform: translateY(-5px);

        background-color: $border-level-english-6;
      }
    }
    
    &_pseudo {
      color: $color-text-start;

      &:nth-child(1) {
        background-color: $color-bg;
        border-bottom: 3px solid $color-shadow;
  
        cursor: default;

        &:hover {
          background-color: $color-bg;
          border-bottom: 3px solid $color-shadow;
        }
      }
  
      &:nth-child(2) {
        background-color: $color-bg;
        border-bottom: 3px solid $color-shadow;
  
        cursor: default;

        &:hover {
          background-color: $color-bg;
          border-bottom: 3px solid $color-shadow;
        }
      }
    }

    &_start {
      
      width: 8rem;
      height: 5rem;

      font-size: 3rem;

      &:nth-child(1) {
        background: $color-level-english-6;
        border-bottom: 3px solid $border-level-english-6;
  
        &:hover {
          transform: translateY(-5px);
  
          background-color: $border-level-english-6;
        }
      }
    }
    
  }
}