$color-bg-start: #ffffff;
$color-button-start: #8ae4ff;
$color-button-start-hover: #33cbf9;

.start {
  @include flexCenter();
  flex-wrap: wrap;
  gap: 10px;

  width: 50%;
  padding: 2rem;
  border-radius: 2rem;

  background-color: $color-bg-start;

  @media (max-width: 1024px) {
    width: 65%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  &__title {
    width: 100%;

    text-align: center;
    font-size: 3rem
  }

  &__button-wrap {
    @include flexCenter();
    gap: 1rem;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    border-bottom: 3px solid $color-button-start-hover;

    text-align: center;
    font-size: 2rem;
    line-height: 4rem;

    background-color: $color-button-start;

    cursor: pointer;
    
    transition: background-color .4s;
    
    &:hover {
      background-color: $color-button-start-hover;
    }
  }
}