// $color-shadow: #aaa9a9;
$color-shadow: #dcdcdc;
$color-scroll: #dcdcdc;
$color-text: #696969;

$color-bg: #ffffff;

$color-button-true-hover: #1f9465;
$color-button-true: #79bc90;
$color-button-false-hover: #e0677d;
$color-button-false: #F69EB0;


$color-water: #8ae4ff80;

$color-level-english-1: #e0677d;
$border-level-english-1: #AF2137;
$bg-level-english-1: #efc4cc;
$color-level-english-2: #f5a51c;
$border-level-english-2: #fb8609;
$bg-level-english-2: #ffe5b8;
$color-level-english-3: #fcdd2e;
$border-level-english-3: #f5a51c;
$bg-level-english-3: #f8eca6;
$color-level-english-4: #1f9465;
$border-level-english-4: #017347;
$bg-level-english-4: #9bd6bf;
$color-level-english-5: #29cbfc;
$border-level-english-5: #068cfa;
$bg-level-english-5: #97e7ff;

$color-level-english-6: #5e9ef2;
$border-level-english-6: #162fbd;
$bg-level-english-6: #a5c9f9;

$color-level-english-7: #966AAD;
$border-level-english-7: #63387C;
$bg-level-english-7: #ecd5f8;


$filter-color: #808080;

$button-border-radius: 18px;
$button-border-bottom: 3px;

$element-shadow: 0 0 3px $color-shadow;;