// $color-shadow: #aaa9a9;
$color-shadow: #dcdcdc;
$color-scroll: #dcdcdc;
$color-text: #696969;

$color-bg: #ffffff;

$color-button-true-hover: #1f9465;
$color-button-true: #79bc90;
$color-button-false-hover: #e0677d;
$color-button-false: #F69EB0;


$color-water: #8ae4ff80;

$button-border-radius: 18px;
$button-border-bottom: 3px;

$element-shadow: 0 0 3px $color-shadow;;