$color-shadow: #aaa9a9;
$color-scroll: #dcdcdc;
$color-text: #696969;

$color-bg: #ffffff;

$color-button-true-hover: #1f9465;
$color-button-true: #79bc90;
$color-button-false-hover: #e0677d;
$color-button-false: #F69EB0;