@import '~normalize.css';
@import './style/variables.scss';
@import './style/abstract.scss';
@import './style/base.scss';
@import './style/header.scss';
@import './style/logging.scss';
@import './style/modal.scss';
@import './style/audio.scss';
@import './style/start.scss';
@import './style/sprint.scss';
@import './style/about.scss';
@import './style/result.scss';
@import './style/home.scss';
@import './style/footer.scss';
@import './style/stat.scss';
@import './style/additional-words.scss';