@import '~normalize.css';
@import './style/abstract.scss';
@import './style/base.scss';
@import './style/start.scss';
@import './style/sprint.scss';
@import './style/result.scss';
@import './style/home.scss';